* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #0F0F0F;
    background-image: url('https://web.telegram.org/z/chat-bg-dark.4d8c9dce3544b239b64b..png');
    background-size: 35%;
    overflow: hidden;

    // ! Resize options Resize options Resize options Resize options 
    // ! Resize options Resize options Resize options Resize options 
    // ! Resize options Resize options Resize options Resize options 

    #main,
    #sidebar,
    #dragbar {
        top: 0;
        height: 100%;
        position: absolute;
    }

    #sidebar {
        width: var(--left-width);

        #dragbar {
            right: 0;
            width: 5px;
            opacity: 0;
            cursor: col-resize;
            transition: 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;

            &:hover,
            body.resizing #dragbar {
                opacity: 1;
                transition: 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0.3s;
            }
        }
    }

    #main {
        right: 0;
        width: calc(100% - var(--left-width));
    }

    // ! Resize options Resize options Resize options Resize options 
    // ! Resize options Resize options Resize options Resize options 
    // ! Resize options Resize options Resize options Resize options 

    .resize_bar {
        background-color: rgb(33,33,33);
        display: flex;
        flex-direction: column;
        border-right: 0.1px solid rgb(54, 54, 54);

        .navdar {

        }
    }
}