@font-face {
    font-family: 'Nico-Moji';
    src: url('/src/fonts/Nico-Moji/Nico-Moji.ttf.woff') format('woff'),
        url('/src/fonts/Nico-Moji/Nico-Moji.ttf.svg#Nico-Moji') format('svg'),
        url('/src/fonts/Nico-Moji/Nico-Moji.ttf.eot'),
        url('/src/fonts/Nico-Moji/Nico-Moji.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo Bhaina 2 Regular';
    src: url('/src/fonts/Baloo Bhaina 2 Regular/Baloo\ Bhaina\ 2\ Regular.woff') format('woff'),
        url('/src/fonts/Baloo Bhaina 2 Regular/Baloo\ Bhaina\ 2\ Regular.svg#Nico-Moji') format('svg'),
        url('/src/fonts/Baloo Bhaina 2 Regular/Baloo\ Bhaina\ 2\ Regular.eot'),
        url('/src/fonts/Baloo Bhaina 2 Regular/Baloo\ Bhaina\ 2\ Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXTART-SemiBold";
    src: url("/src/fonts/NEXTART-SemiBold/NEXT_ART_SemiBold.eot?") format("eot"),
        url("/src/fonts/NEXTART-SemiBold/NEXT_ART_SemiBold.woff") format("woff"),
        url("/src/fonts/NEXTART-SemiBold/NEXT_ART_SemiBold.ttf") format("truetype"),
        url("/src/fonts/NEXTART-SemiBold/NEXT_ART_SemiBold.svg#NEXTART-SemiBold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXTART-Regular";
    src: url("/src/fonts/NEXTART-Regular/NEXT_ART_Regular.eot?") format("eot"),
        url("/src/fonts/NEXTART-Regular/NEXT_ART_Regular.woff") format("woff"),
        url("/src/fonts/NEXTART-Regular/NEXT_ART_Regular.ttf") format("truetype"),
        url("/src/fonts/NEXTART-Regular/NEXT_ART_Regular.svg#NEXTART-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NEXT_ART_Bold";
    src: url("/src/fonts/NEXT_ART_Bold/NEXT_ART_Bold.eot?") format("eot"),
        url("/src/fonts/NEXT_ART_Bold/NEXT_ART_Bold.woff") format("woff"),
        url("/src/fonts/NEXT_ART_Bold/NEXT_ART_Bold.ttf") format("truetype"),
        url("/src/fonts/NEXT_ART_Bold/NEXT_ART_Bold.svg#NEXT_ART_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.UI {
    width: 100%;
    // height: 100vh;
    background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);

    header {
        margin: 0 auto;
        width: 1202px;
        height: 95vh;
        padding-top: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                display: flex;
                align-items: center;
                gap: 15px;

                h3 {
                    font-family: 'Nico-Moji';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
            }

            .navbar {
                width: 690px;
                margin-top: 7px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 112px;

                a {
                    h4 {
                        font-family: 'Baloo Bhaina 2 Regular';
                        font-style: normal;
                        font-weight: 200;
                        font-size: 18px;
                        line-height: 21px;
                        display: flex;
                        align-items: center;
                        color: #E4E4E4;
                    }

                    div {
                        width: 100%;
                        height: 1px;
                    }

                    .orange_line {
                        background: #E2A300;
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .left {
                display: flex;
                flex-direction: column;
                color: white;
                margin-bottom: 175px;
                position: relative;
                z-index: 2;

                h2 {
                    font-family: 'NEXTART-SemiBold';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 54px;
                    display: flex;
                    align-items: center;
                    color: #E4E4E4;
                }

                h1 {
                    font-family: 'NEXT_ART_Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 65px;
                    line-height: 82px;
                    display: flex;
                    align-items: center;
                    color: #E4E4E4;
                    margin-top: 27px;
                    height: 130px;
                }

                p {
                    height: 130px;
                    width: 430px;
                    font-family: 'Baloo Bhaina 2 Regular';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 36px;
                    display: flex;
                    align-items: center;
                    color: #E4E4E4;
                    margin: 5px 0;
                }

                button {
                    width: 200px;
                    height: 47px;
                    left: 375px;
                    top: 605px;
                    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
                    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
                    border-radius: 6px;
                    font-family: 'NEXT_ART_Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;
                    color: #000000;
                }
            }

            .right {
                img {
                    position: absolute;
                    z-index: 1;
                    bottom: -154px;
                    right: -210px;
                }
            }
        }
    }

    main {
        height: 2800px;
        position: relative;
        z-index: 10;

        .components {
            height: 1847px;
            left: 0px;
            top: 787px;
            background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
        }
    }
}